In [5]:
import pandas as pd
groups = ["Modern Web","Devops","cloud","big data","security","自我挑戰"]
ironman = [ 59,9,19,14,6,77 ]
ironman_dict = {
                "groups":groups,
                "ironman":ironman
}
ironman_df = pd.DataFrame(ironman_dict)
ironman_df

       groups  ironman
0  Modern Web       59
1      Devops        9
2       cloud       19
3    big data       14
4    security        6
5        自我挑戰       77

In [6]:
print(ironman_df.ndim)
print(ironman_df.shape)
print(ironman_df.dtypes)

2
(6, 2)
groups     object
ironman     int64
dtype: object

In [16]:
print(ironman_df.sum())
print(ironman_df.ironman.sum())
print(ironman_df.mean())
print(ironman_df.median)
print(ironman_df.describe())

groups     Modern WebDevopscloudbig datasecurity自我挑戰
ironman                                          184
dtype: object
184
ironman    30.666667
dtype: float64
<bound method DataFrame.median of        groups  ironman
0  Modern Web       59
1      Devops        9
2       cloud       19
3    big data       14
4    security        6
5        自我挑戰       77>
         ironman
count   6.000000
mean   30.666667
std    29.803803
min     6.000000
25%    10.250000
50%    16.500000
75%    49.000000
max    77.000000

In [18]:
import pandas as pd
import numpy as np
groups = ["Modern Web","Devops","cloud",np.NAN,"big data","security","自我挑戰"]
ironman = [ 59,9,19,14,6,77 ,np.NAN]
ironman_dict = {
                "groups":groups,
                "ironman":ironman
}
ironman_df = pd.DataFrame(ironman_dict)
print(ironman_df.loc[: , "groups"].isnull())
print(ironman_df.loc[: , "ironman"].notnull())

0    False
1    False
2    False
3     True
4    False
5    False
6    False
Name: groups, dtype: bool
0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: ironman, dtype: bool

In [20]:
a =ironman_df.dropna()
a

       groups  ironman
0  Modern Web     59.0
1      Devops      9.0
2       cloud     19.0
4    big data      6.0
5    security     77.0

In [24]:
b=ironman_df.ironman.fillna(ironman_df.ironman.mean())
b

0    59.000000
1     9.000000
2    19.000000
3    14.000000
4     6.000000
5    77.000000
6    30.666667
Name: ironman, dtype: float64

In [25]:
c=ironman_df.fillna(0)
c

       groups  ironman
0  Modern Web     59.0
1      Devops      9.0
2       cloud     19.0
3           0     14.0
4    big data      6.0
5    security     77.0
6        自我挑戰      0.0

In [26]:
import pandas as pd
groups = ["Modern Web","Devops","cloud","big data","security","自我挑戰"]
ironman = [ 59,9,19,14,6,77 ]
#建立 data frame
ironman_df = pd.DataFrame(ironman, columns = ["ironman"],index = groups)
ironman_df.sort_index()

            ironman
Devops            9
Modern Web       59
big data         14
cloud            19
security          6
自我挑戰             77

In [27]:
ironman_df.sort_values(by ="ironman" )

            ironman
security          6
Devops            9
big data         14
cloud            19
Modern Web       59
自我挑戰             77